<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Strana.Revit.HoleTask.Confing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Strana.Revit.HoleTask.Confing>
            <setting name="floorHoleTaskPath" serializeAs="String">
                <value>\\sb-sharegp\StranaDev_FamilyManager\430_Задания на отверстия\(Отв_Задание)_Перекрытия_Прямоугольное.rfa</value>
            </setting>
            <setting name="wallHoleTaskPath" serializeAs="String">
                <value>\\sb-sharegp\StranaDev_FamilyManager\430_Задания на отверстия\(Отв_Задание)_Стены_Прямоугольное.rfa</value>
            </setting>
            <setting name="offSetJoin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="revitLinks" serializeAs="String">
                <value />
            </setting>
            <setting name="areJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="arePickUpElements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offSetHoleTask" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="roundHoleTaskDimensions" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="roundHoleTaskInPlane" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="areRoundHoleTaskInPlane" serializeAs="String">
                <value>True</value>
            </setting>
        </Strana.Revit.HoleTask.Confing>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
