<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Strana.Revit.HoleTask.Confing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Strana.Revit.HoleTask.Confing>
            <setting name="floorHoleTaskPath" serializeAs="String">
                <value>\\sb-sharegp\StranaDev_FamilyManager\430_Задания на отверстия\(Отв_Задание)_Перекрытия_Прямоугольное.rfa</value>
            </setting>
            <setting name="wallHoleTaskPath" serializeAs="String">
                <value>\\sb-sharegp\StranaDev_FamilyManager\430_Задания на отверстия\(Отв_Задание)_Стены_Прямоугольное.rfa</value>
            </setting>
        </Strana.Revit.HoleTask.Confing>
    </userSettings>
</configuration>